@font-face {
  font-family: "allura";
  src: url(../fonts/Allura-Regular.ttf);
}
@font-face {
  font-family: "poppins";
  src: url(../fonts/Poppins-Medium.ttf);
}
@font-face {
  font-family: "roboto";
  src: url(../fonts/Roboto-Light.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h3 {
  font-size: 2rem;
  font-family: allura, sans-serif;
  color: rgb(204, 133, 58);
}

li {
  list-style: none;
}

a, a:visited {
  color: rgb(243, 243, 243);
}

header {
  background: url(../img/bg-slider-06.jpg) center/cover;
  height: 100vh;
}
header nav {
  display: flex;
  color: rgb(243, 243, 243);
  align-items: center;
  justify-content: space-around;
}
header nav h1 {
  font-family: allura, sans-serif;
  font-size: 3rem;
}
header nav ul {
  display: flex;
}
header nav ul li {
  font-family: roboto, sans-serif;
  padding: 25px;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 2px;
}
header nav i {
  padding: 10px;
  font-size: 0.7rem;
}
header .header-title {
  display: block;
}
header .header-title .header-title-containers {
  display: block;
  text-align: center;
  padding-top: 200px;
}
header .header-title .header-title-containers h2 {
  text-transform: uppercase;
  font-family: poppins, sans-serif;
  color: rgb(243, 243, 243);
  font-size: 4rem;
  letter-spacing: 15px;
  padding-bottom: 50px;
}
header .header-title .header-title-containers h3 {
  font-size: 3rem;
  font-weight: 200;
  letter-spacing: 6px;
  height: 30px;
}
header .header-title .header-title-containers img {
  height: 30px;
  width: 30px;
}
header .header-title .header-title-containers p {
  color: rgb(243, 243, 243);
  font-family: roboto, sans-serif;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 40px;
  font-weight: 200;
  letter-spacing: 10px;
}

.section-1 {
  display: grid;
  background-color: rgb(238, 238, 238);
  grid-template-columns: 50% 50%;
}
.section-1 .section-1-left {
  text-align: center;
  margin: 20px;
  border: 1px dotted rgb(204, 133, 58);
}
.section-1 .section-1-left h3 {
  font-size: 2rem;
  padding-top: 20px;
}
.section-1 .section-1-left h4 {
  font-family: poppins, sans-serif;
  font-size: 1.5rem;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.section-1 .section-1-left p {
  font-family: roboto, sans-serif;
  padding: 20px;
  font-weight: 200;
  font-size: 1rem;
}
.section-1 .section-1-left #avatar-sec1 {
  border-radius: 400px;
  height: 90px;
  width: 90px;
}
.section-1 .section-1-left #name {
  display: block;
  font-family: poppins, sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  padding-top: 30px;
}
.section-1 .section-1-left #fonction {
  display: block;
  font-family: poppins, sans-serif;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: grey;
}
.section-1 img#bol {
  max-width: 100%;
  height: 100%;
}

main section.section-2 {
  position: relative;
  color: rgb(243, 243, 243);
}
main section.section-2 .back-noir {
  background: rgb(32, 33, 28);
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}
main section.section-2 .section-2-title {
  text-align: center;
  padding-bottom: 50px;
}
main section.section-2 .section-2-title h3 {
  padding: 40px;
  font-size: 3rem;
}
main section.section-2 .section-2-top {
  display: block;
  width: 80%;
  margin: 0 auto;
  height: 60px;
}
main section.section-2 .section-2-top ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 60px;
}
main section.section-2 .section-2-top ul li {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: roboto, sans-serif;
  height: 60px;
  text-transform: uppercase;
  font-weight: 100;
  border-bottom: 1px solid rgb(243, 243, 243);
}
main section.section-2 .section-2-main {
  padding-bottom: 50px;
}
main section.section-2 .section-2-main .section-2-main-containers {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 80%;
  margin: 5% 10%;
  background: rgb(238, 238, 238);
  color: rgb(32, 33, 28);
  padding: 10px;
}
main section.section-2 .section-2-main .section-2-main-containers img {
  border-radius: 400px;
}
main section.section-2 .section-2-main .section-2-main-containers .left {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}
main section.section-2 .section-2-main .section-2-main-containers .section-2-main-left {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}
main section.section-2 .section-2-main .section-2-main-containers .section-2-main-right {
  display: grid;
  grid-template-rows: 25% 25% 25% 25%;
}
main section.section-2 .back-menu {
  background: url(../../../assets/img/bg-menu-01.jpg) center/cover;
  height: 60%;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  z-index: -1;
}/*# sourceMappingURL=index.css.map */